#root {
  margin: 0 auto;
  padding: 0
}

/* .mainContainer {
  border: 1px solid yellow;


} */

.navContainer {
  display: flex;
  /* border: 1px solid yellow; */
  height: 6rem;
  justify-content: space-around;
  position: fixed;
  width: 79rem;
  background-color: oklch(23.796% 0.08037 281.459);
  border-radius: 3rem;
  padding-bottom: 0;


}


.portfolio {
  display: flex;
  width: 25rem;
  /* height: 10rem; */
  /* border: 1px solid orangered; */
  /* padding: 1rem 0rem; */
  justify-content: center;
  /* color: oklch(65.6% 0.241 354.308); */
  /* color: oklch(71.8% 0.202 349.761); */
  
   color: oklch(74% 0.238 322.16);


}

.portfolio:hover {
   color:  oklch(74.909% 0.17036 347.69);

}

/* .ulOContainer {
  border: 1px solid red;
  width: 60%;
  display: flex;
  justify-content: space-around;
} */

.ulTContainer {
  display: flex;
  align-items: flex-end;
  /* border: 1px solid pink; */
  /* margin: 0rem 1rem; */
  margin-bottom: 1rem;
}

.liStyl {
  list-style: none;
  /* border: 1px solid green; */
  padding: 1rem;
  margin-right:2rem;
  
  /* color: oklch(71.8% 0.202 349.761) */
}

.tecStack {
  width: 10rem;
  /* border: 1px solid green; */

}

.liO1Text {
  font-size: 3rem;
}


.liOText {
  font-size: 4rem;
  text-decoration: none;
  
}

.liTText {
  font-size: 2rem;
  text-decoration:none;
  color: oklch(74.909% 0.17036 347.69)


}

.liTText:hover {
    color: oklch(74% 0.238 322.16);
    text-decoration:double;
}


.liStyl a:hover{
  text-decoration: dotted;
}

.ulTContainer .liStyl .liTText:hover {
  text-decoration-line:underline;
}

.ulTContainer .liStyl .liTText.active {
  font-weight: bold;

}



 
/* a.liTText, a.liTText:visited, a.liTText:hover, a.liTText:active {
  text-decoration: double;
  color: oklch(74.909% 0.17036 347.69);
}  */


/* .ulTContainer  .liStyl a:hover{
color: oklch(74% 0.238 322.16);
    text-decoration:double;
} */

.wholeContainer {
  padding: 15rem 9rem;
  padding-bottom: 9rem;
  width: 58rem;
  /* height: 30rem; */
  /* border: 1px solid greenyellow; */


}


.introCon {
  width: 65rem;
  /* height: 10rem; */
  /* border: 1px solid burlywood; */
  /* padding: 15rem 15rem; */
  padding-bottom: 15rem;
  padding-left: 1rem;
  padding-right: 1rem;


}

.name {
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: oklch(66.7% 0.295 322.15);
  /* color: oklch(83.3% 0.145 321.434) */

}
.name span {
  color:white;
   
}

.role {
  font-size: 3rem;
  margin: 0;
  /* font-family: 'Times New Roman', Times, serif; */
}

.role span {
  /* color:oklch(74% 0.238 322.16); */
  /* color:oklch(71.8% 0.202 349.761);    */
  color: oklch(82.3% 0.12 346.018)
}

.about {
  font-size: 1.8rem;
  margin: 0.9rem 0rem;
}

.btnContainer {
  display: flex;
  gap: 2rem;
  margin: 2.5rem 0rem;
  /* border : 1px solid pink */

}

.button {
  padding: 1rem;
  border-radius: 0.9rem;
  background-color: oklch(74% 0.238 322.16);
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  background-color: oklch(71.8% 0.202 349.761);
  /* background-color:oklch(66.7% 0.295 322.15) */

}



.projectCont {
  /* border: 1px solid red; */
  margin-top: 4rem;
  width: 66rem;
  /* height: 80rem; */
  display: flex;
  justify-content: space-around;
  padding-bottom: 25rem;

}


.projectBox {
  border: 2px solid rgb(59, 58, 86);
  ;
  width: 20rem;
  /* height: 68rem;  */
  border-radius: 1rem;
}




.img {
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
}

.tecBtns {
  display: flex;
  /* flex-wrap:wrap; */
  gap: 0.9rem;
  /* border: 1px solid greenyellow; */
  width: 17rem;
  flex-wrap: wrap;
  /* height: 10rem; */
}

.aboutProj {
  font-size: 1.2rem;
}

.projectCont .projectBox .tecBtns p {
  padding: 0.7rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  background-color: rgb(52, 49, 54);
  border-color: none;
  font-weight: bolder;
}


.projInfo {
  padding: 0rem 1rem;
}

.demoCodeBtns {
  padding: 2rem 0rem;
  display: flex;
  gap: 3rem;
  /* border: 1px solid greenyellow; */
  width: 17rem

}

.btn {
  /* padding: 1rem; */
  border-radius: 0.5rem;
  border-color: none;
  font-size: large;
  font-weight: bolder;
  background-color: rgb(20, 20, 23);
  border-color: rgb(58, 58, 85);
  /* border: 1px solid greenyellow; */
  width: 18rem;

}

/* .demo {
  color: whitesmoke;
} */

.btn:hover {
  /* background-color:
    oklch(74% 0.238 322.16); */
    /* background-color: oklch(71.4% 0.203 305.504); */
    background-color: oklch(32.801% 0.03553 308.37);
    border-color: oklch(32.801% 0.03553 308.37);

}

.demoCodeBtns .btn i {
  padding: 1rem 0.5rem;
  padding-right: 0.5rem;
}


.tackStackCon {
  display: flex;
  /* border: 1px solid red; */
  width: 66rem;
  flex-wrap: wrap;
  padding: 0;

}

.tackStackCon {
  padding:  0rem;
  /* border: 1px solid red; */
  height: 30rem;
  padding-bottom: 15rem;
}

.iconCon {
  display: flex;
  /* border: 1px solid pink; */
  padding: 1rem 12rem;
  padding-left: 0;

  padding-bottom: 0;

  gap: 1rem;
  width: 5rem;
  height: 4rem;
}

.icon {
  /* width: 3rem;
  height: 3rem; */
  width: 48px;
  height: 48px;
  /* border: 1px solid orange; */
}

.iconName {
  /* border: 1px solid green;  */
  margin-top: 0.3rem;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.expressStyl {
  width: 8rem;
  height: 2rem;
  padding: 1rem;                                                                                                                                                                                                                                                                                                                                                                               
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
.vercelIcon {
  background-color: aliceblue;
}

.gitIcon {
  background-color: aliceblue;
}

.expressIcon {
  background-color: aliceblue;
}

.vsIcon {
  width: 12rem;
  margin: 0;
  padding-left: 0;
  padding-right: 5rem;
}

.connectCon {
  display: flex;
  /* border: 1px solid yellow; */
  /* width: 100rem; */
      width: 66rem;
  height: 25rem;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid ghostwhite; */


}

.connectBoxes {
  /* border: 1px solid ghostwhite; */
  width: 5rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  /* gap:2rem; */

  /* padding-right: 20rem; */
}


.connHeadText {
  font-size: 2rem;
  margin-top: 1rem;
  /* border: 1px solid ghostwhite; */
  padding-top: 2rem;

}


.connText {
  border: 1px solid ghostwhite;
  margin: 6rem 2rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 8888886rem;
  /* padding: 0rem 1rem; */



  /* display: flex; */
  /* justify-content: end;
  align-items:baseline */
}


.connectContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid  rgb(59, 58, 86);
  width: 25rem;
  height: 9.5rem;
  /* background-color: oklch(28.305% 0.06655 283.744); */
}

.connectext {
  margin-left: 2rem;
  margin-bottom: 0;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:rgb(228, 224, 228);
   font-size: 1.3rem;
  /* border: 1px solid white; */


}


.footContainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid green;  */
  width: 75rem;
  
}

.footerCon {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #53f33a; */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4rem;
  font-size: 1.3rem;
  width: 66rem;
  align-items: center;
}

hr {
  margin-bottom: 7rem;
  margin-top: 2rem;
  width:10rem;
  padding-left: 0;
  margin-left: 0;
  border-color:  oklch(74% 0.238 322.16);
  height: 0.1rem;
  background-color: oklch(74% 0.238 322.16);

}